/* Style for the body of the entire body of the website*/
body{
    font-family: Times New Roman, sans-serif;
    margin: 1;
    padding: 1;
    background-color: beige;
    box-sizing: border-box;
    justify-content: center;
}
/* Style for images within the header of the home page*/
header img{
    display:block;
    margin: 20px auto;
    height:auto;
}
/*Style for the navigation list*/
    nav ul{
        display:content-box;
        list-style: none;
        
        background: hsl(92, 74%, 71%);
        padding: 1em;
    }
    /*This is for the list items in the navigation*/
    nav ul li{
        margin-right: 20px;
        text-align: center;
    }
    /*This styles the links inside the navigation list items*/
    nav ul li a{
        color:black;
        text-decoration: dotted;
    }
    /*Styling of the main header text*/
    h1{
        text-align: center;
        text-decoration: underline;

    }
    /*This helps to move the about photo to the left*/
    .about-pic{
        display: flex;
        align-items: flex-start;
        gap:15px;
        

    }
    /*Adds a border to my profile photo*/
    .my-pic{
        border: 5px solid #555;
    }
    /*Styling of the contact form*/
     form{
        display:grid;
        gap: 10px;
        padding: 15px;
        border: radius 10px;  
     }   
    /*Changes the color of the submit button when hovered over*/
    form button:hover{
        background-color:hsl(92, 74%, 71%);
    }
